flows.json
[{"id":"250ec8a2.7dd738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"82a3aa2.2135558","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"16de5d4f.efd483","type":"google-api-config","z":""},{"id":"d0521c84.0b899","type":"debug","z":"250ec8a2.7dd738","name":"query results","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":760,"wires":[]},{"id":"779ec30d.5e74ec","type":"function","z":"250ec8a2.7dd738","name":"Extract Traffic Light Sensor ","func":"// Format Sensor Data from Traffic Light Database Warehouse\nmsg.payload = {\ndeviceID: msg.d.deviceId,\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":780,"wires":[["724f8df7.c71a14"]]},{"id":"2604e676.d1676a","type":"http request","z":"250ec8a2.7dd738","name":"GMAPS Distance","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=1.3468274,103.9567652&destinations=1.3468274,103.9467652&key=AIzaSyAxLl4Xr_k3UWp_ceY-5Zx_5A90VE-qmjk","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":240,"wires":[["52a96c6e.4826d4"]]},{"id":"221f0b26.d20f74","type":"function","z":"250ec8a2.7dd738","name":"Convert GPS Coord","func":"// Exatract GPS Data from IOT Device\n\nmsg={\nlong: msg.payload.d.longitude,\nlat:msg.payload.d.latitude\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["2604e676.d1676a"]]},{"id":"52a96c6e.4826d4","type":"function","z":"250ec8a2.7dd738","name":"alarm","func":"var r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\nvar distance;\n\ndistance = msg.payload.rows[0].elements[0].distance.value\nif (distance > 1000) {\n    r=255.0;\n}\nelse {\nr = 104;\n\tg = 109;\n\tb = 115;\n}\na  = 1.0\nmsg.eventOrCommandType = \"color\";\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\nreturn msg;\n\n//after sending to maps api, uses the distance to give a signal whether the ambulance is close\n//in this demo the signal is the change of background color","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["11e03c95.5fdcf3","c3635ba8.a76a78"]]},{"id":"11e03c95.5fdcf3","type":"debug","z":"250ec8a2.7dd738","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]},{"id":"cc07c4eb.cf7458","type":"ibmiot in","z":"250ec8a2.7dd738","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In (Car)","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":"","allCommands":"","allFormats":"","qos":"0","x":110,"y":120,"wires":[["dca1248a.95bdc8","221f0b26.d20f74"]]},{"id":"c3635ba8.a76a78","type":"ibmiot out","z":"250ec8a2.7dd738","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"11223344","deviceType":"Android","eventCommandType":"text","format":"json","data":"{\"d\":{\"value\":\"text\"}}","qos":"","name":"IBM IoT App Out (Car)","service":"registered","x":900,"y":380,"wires":[]},{"id":"dca1248a.95bdc8","type":"debug","z":"250ec8a2.7dd738","name":"","active":false,"console":"false","complete":"false","x":330,"y":100,"wires":[]},{"id":"977b9f1a.15458","type":"ibmiot in","z":"250ec8a2.7dd738","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In (EV)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":"","allCommands":"","allFormats":"","qos":"0","x":90,"y":400,"wires":[["221f0b26.d20f74","b848a9f0.5de348"]]},{"id":"54dda33.c0bd75c","type":"http request","z":"250ec8a2.7dd738","name":"GMAPS Distance","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=1.3468274,103.9567652&destinations=1.3468274,103.9467652&key=AIzaSyAxLl4Xr_k3UWp_ceY-5Zx_5A90VE-qmjk","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":420,"wires":[["768df397.9b2ffc"]]},{"id":"b848a9f0.5de348","type":"function","z":"250ec8a2.7dd738","name":"Convert GPS Coord","func":"// Extract GPS Data\n\nmsg={\nlong: msg.payload.d.longitude,\nlat:msg.payload.d.latitude\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":140,"y":520,"wires":[["54dda33.c0bd75c","935f7036.d4ed5"]]},{"id":"768df397.9b2ffc","type":"function","z":"250ec8a2.7dd738","name":"alarm","func":"var r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\nvar distance;\n\ndistance = msg.payload.rows[0].elements[0].distance.value\nif (distance > 1000) {\n    r=255.0;\n}\nelse {\nr = 104;\n\tg = 109;\n\tb = 115;\n}\na  = 1.0\nmsg.eventOrCommandType = \"color\";\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\nreturn msg;\n//after sending to maps api, uses the distance to give a signal whether the ambulance is close\n//in this demo the signal is the change of background color","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["ff5e8e63.38086","724f8df7.c71a14"]]},{"id":"ff5e8e63.38086","type":"debug","z":"250ec8a2.7dd738","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":500,"wires":[]},{"id":"724f8df7.c71a14","type":"ibmiot out","z":"250ec8a2.7dd738","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"1122334455","deviceType":"Android","eventCommandType":"text","format":"json","data":"{\"d\":{\"value\":\"text\"}}","qos":"","name":"IBM IoT App Out (Traffic Light)","service":"registered","x":890,"y":680,"wires":[]},{"id":"17fb7cff.75c803","type":"dashDB in","z":"250ec8a2.7dd738","dashDB":"","service":"Db2-gps","query":"msg.payload","params":"","name":"Traffic Light DB","x":240,"y":680,"wires":[["49b5801.182a78"]]},{"id":"49b5801.182a78","type":"function","z":"250ec8a2.7dd738","name":"results of query","func":"//returns query results\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":680,"wires":[["d0521c84.0b899","e151d510.6b4c98","779ec30d.5e74ec"]]},{"id":"e151d510.6b4c98","type":"function","z":"250ec8a2.7dd738","name":"Convert GPS Coord","func":"// extracts gps data for Google Maps\n\nmsg={\nlong: msg.payload.d.longitude,\nlat:msg.payload.d.latitude\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["54dda33.c0bd75c"]]},{"id":"935f7036.d4ed5","type":"template","z":"250ec8a2.7dd738","name":"Form Query","field":"payload","fieldType":"msg","format":"sql","syntax":"plain","template":"/*Query to extarct all traffic light sensors a certain distance away from the Emergency Vehicle to pre empt them */\nSELECT * FROM (\n    SELECT *, \n        (\n            (\n                (\n                    acos(\n                        sin(( $LATITUDE * pi() / 180))\n                        *\n                        sin(( `latitud_fieldname` * pi() / 180)) + cos(( $LATITUDE * pi() /180 ))\n                        *\n                        cos(( `latitud_fieldname` * pi() / 180)) * cos((( $LONGITUDE - `longitude_fieldname`) * pi()/180)))\n                ) * 180/pi()\n            ) * 60 * 1.1515 * 1.609344\n        )\n    as distance FROM `TLTable`\n) TLTable\nWHERE distance <= $DISTANCE_KILOMETERS\nLIMIT 15;","output":"json","x":190,"y":600,"wires":[["17fb7cff.75c803"]]}]